## 1. import , read
Pandas 패키지를 Import 하고 실습 데이터 파일(Ecommerce Purchases)을 read 하세요.  
그 다음, Pandas Dataframe 형식으로 ecom 이라는 변수에 저장해보세요.

In [1]:
import pandas as pd

In [5]:
ecom = pd.read_csv('Ecommerce Purchases')

## DataFrame 의 앞부분과 뒷부분 확인하여, 데이터 생긴 거 미리보기

In [6]:
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [7]:
ecom.tail(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9998,"0096 English Rest\r\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\r\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

## .info()
몇 개의 컬럼과 행이 있는지 확인해보기

In [8]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [9]:
ecom.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

## .mean()
평균 구매 가격(Purchase Price) 확인하기

In [10]:
ecom.mean()

Credit Card         2.341374e+15
CC Security Code    9.072178e+02
Purchase Price      5.034730e+01
dtype: float64

In [11]:
ecom.mean(axis=1)

0       2.003976e+15
1       1.112586e+15
2       2.253192e+11
3       2.003860e+15
4       2.003819e+15
5       1.008206e+13
6       2.003800e+15
7       1.870840e+11
8       6.001393e+13
9       1.465428e+12
10      6.001214e+13
11      2.899917e+14
12      1.705330e+15
13      1.534545e+15
14      2.899892e+14
15      6.002315e+13
16      2.253737e+11
17      1.112505e+15
18      2.003783e+15
19      2.254478e+11
20      2.003944e+15
21      1.830418e+15
22      1.052888e+15
23      1.673367e+11
24      1.583243e+15
25      2.899793e+14
26      2.016281e+10
27      2.899827e+14
28      6.000883e+13
29      1.390245e+15
            ...
9970    2.003829e+15
9971    1.786554e+15
9972    1.235300e+14
9973    1.672836e+11
9974    2.101358e+11
9975    1.787199e+15
9976    1.486332e+15
9977    1.395365e+15
9978    1.029395e+15
9979    1.155783e+14
9980    2.003981e+15
9981    1.563621e+12
9982    7.001366e+13
9983    1.146189e+14
9984    1.029403e+15
9985    2.003755e+15
9986    1.406961e+15
9987    6.000910e+13
9988    1.402431e+15
9989    1.759350e+15
9990    2.899894e+14
9991    1.407194e+15
9992    1.554942e+15
9993    1.000852e+13
9994    1.037396e+15
9995    1.143150e+14
9996    7.001106e+13
9997    2.003847e+15
9998    6.000112e+13
9999    1.379991e+15
Length: 10000, dtype: float64

In [12]:
ecom.mean(axis=0)

Credit Card         2.341374e+15
CC Security Code    9.072178e+02
Purchase Price      5.034730e+01
dtype: float64


### 문제1. 구매 가격(Purchase Price)의 최대값, 최소값 구하기

### 문제2. (문제1을 )반올림하여 구하기`

## .count()
웹사이트에 얼마나 많은 사람들이 언어(Language)를 English로 하는 지 알아보기

### 문제1. : # 'Language' 컬럼값이 'en' 인 데이터의 신용카드(Credit Card) 개수 세기

### 문제2. : # 직업('Job')이 변호사('Lawyer')인 사람수 구하기

## .value_counts()
### 문제1. 얼마나 많은 사람들이 오전(AM)과 오후(PM)에 구매를 하는 지 알아보기

### 문제2. 가장 흔한 직업 상위 5개 알아보기

### 문제3. 가장 흔한 직업 하위 5개 알아보기

## specific variable values

### 문제1. '90 WT' 지역에서 구매된 거래 금액 확인하기

### 문제2. 신용카드번호 4926535242672853 이용자의 이메일 주소 찾기

## 'And' or 'Or'
### 문제1. 얼마나 많은 사람들이 American Express 카드로 95달러 초과로 결제하는 지 알아보기

### 문제2. 얼마나 많은 사람들이 95달러 초과로 결제하거나 10달러 미만으로 구매하는 지 알아보기

## .apply() & Lambda
얼마나 많은 신용카드가 2025년에 만료되는 지 알아보기

## 문제1. 얼마나 많은 신용카드가 2025년에 만료되는 지 알아보기

In [1]:
# ecom['CC Exp Date']

NameError: name 'ecom' is not defined

## Lambda & .split
### 문제1. 가장 인기있는 이메일 제공자/호스트(e.g. gmail.com, yahoo.com, etc...) 상위 5 찾아내기